In [3]:
import pandas as pd
import numpy as np

In [4]:
scils_df = pd.read_csv("Regions_SPECTRA3.csv", sep=";", header = 10, index_col = 0)

In [5]:
scils_df.head()
#Current dataset has a total of 36974 columns

,Spot 1,Spot 2,Spot 3,Spot 4,Spot 5,Spot 6,Spot 7,Spot 8,Spot 9,Spot 10,...,Spot 36784,Spot 36785,Spot 36786,Spot 36787,Spot 36788,Spot 36789,Spot 36790,Spot 36791,Spot 36792,Spot 36793
m/z,,,,,,,,,,,,,,,,,,,,,
70.946040,0.0,0.0,0.0,0.0,0.0,0,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
78.918847,0.0,0.0,0.0,0.0,0.0,0,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
79.957324,0.0,0.0,0.0,0.0,0.0,0,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
82.954106,0.0,0.0,0.0,0.0,0.0,0,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
85.029464,0.0,0.0,0.0,0.0,0.0,0,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
rows = str(len(scils_df))
cols = str(len(scils_df.columns))
print("Number of rows: "+ rows + "\nNumber of Columns: " + cols)
#Number is 307 x 36793 (rowxcol)

Number of rows: 307
Number of Columns: 36793

In [7]:
print(scils_df.iloc[:, 0:1])
#print(scils_df.iloc[0:1,:])

                Spot 1
m/z
70.946040     0.000000
78.918847     0.000000
79.957324     0.000000
82.954106     0.000000
85.029464     0.000000
...                ...
214.993686    0.000000
215.014992    0.000000
215.032574  396.191925
215.032750  372.268005
215.034088  282.877747

[307 rows x 1 columns]

In [17]:
df1=scils_df.copy()
#df_mean = df1.iloc[0:1,:].mean(axis=1)
#df_mean.head()

In [18]:
df_mean_all = pd.DataFrame(index=np.arange(int(rows)), columns=np.arange(1))
#print(df_mean_all)

In [19]:
for idx in df1.index:
    df_mean_all = df1.mean(axis="columns")

In [22]:
df_m = pd.DataFrame(df_mean_all)
df_m.columns = ["Mean"]
df_m["# of Rows"] = ""
df_m["# of Rows"][0] = rows
df_m["# of Columns"] = ""
df_m["# of Columns"][0] = cols
#print(df_m)
df_m.to_csv("Avg_Regions_SPECTRA3.csv")

/var/folders/h1/8pg56fxs6hgbd8ksdgy1qj2w0000gp/T/ipykernel_7084/1047249515.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_m["# of Rows"][0] = rows
/var/folders/h1/8pg56fxs6hgbd8ksdgy1qj2w0000gp/T/ipykernel_7084/1047249515.py:4: FutureWarning: Treating integers as positional in Series.__setitem__ with a Float64Index is deprecated. In a future version, `series[an_int] = val` will insert a new key into the Series. Use `series.iloc[an_int] = val` to treat the key as positional.
  df_m["# of Rows"][0] = rows
/var/folders/h1/8pg56fxs6hgbd8ksdgy1qj2w0000gp/T/ipykernel_7084/1047249515.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_m["# of Columns"][0] = cols
/var/folders/h1/8pg56fxs6hgbd8ksdgy1qj2w0000gp/T/ipykernel_7084/1047249515.py:6: FutureWarning: Treating integers as positional in Series.__setitem__ with a Float64Index is deprecated. In a future version, `series[an_int] = val` will insert a new key into the Series. Use `series.iloc[an_int] = val` to treat the key as positional.
  df_m["# of Columns"][0] = cols