In [3]:
import pandas as pd

In [19]:
scils_df = pd.read_csv("Regions_SPECTRA3.csv", sep=";", header = 10, index_col = False)

In [20]:
scils_df.head()
#Current dataset has a total of 36974 columns

,m/z,Spot 1,Spot 2,Spot 3,Spot 4,Spot 5,Spot 6,Spot 7,Spot 8,Spot 9,...,Spot 36784,Spot 36785,Spot 36786,Spot 36787,Spot 36788,Spot 36789,Spot 36790,Spot 36791,Spot 36792,Spot 36793
0,70.946040,0.0,0.0,0.0,0.0,0.0,0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,78.918847,0.0,0.0,0.0,0.0,0.0,0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,79.957324,0.0,0.0,0.0,0.0,0.0,0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,82.954106,0.0,0.0,0.0,0.0,0.0,0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,85.029464,0.0,0.0,0.0,0.0,0.0,0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [27]:
rows = str(len(scils_df))
cols = str(len(scils_df.columns))
print("Number of rows: "+ rows + "\nNumber of Columns: " + cols)

Number of rows: 307
Number of Columns: 36794