In [58]:
import pandas as pd
import numpy as np

In [35]:
scils_df = pd.read_csv("Regions_SPECTRA3.csv", sep=";", header = 10, index_col = 0)

In [36]:
scils_df.head()
#Current dataset has a total of 36974 columns

,Spot 1,Spot 2,Spot 3,Spot 4,Spot 5,Spot 6,Spot 7,Spot 8,Spot 9,Spot 10,...,Spot 36784,Spot 36785,Spot 36786,Spot 36787,Spot 36788,Spot 36789,Spot 36790,Spot 36791,Spot 36792,Spot 36793
m/z,,,,,,,,,,,,,,,,,,,,,
70.946040,0.0,0.0,0.0,0.0,0.0,0,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
78.918847,0.0,0.0,0.0,0.0,0.0,0,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
79.957324,0.0,0.0,0.0,0.0,0.0,0,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
82.954106,0.0,0.0,0.0,0.0,0.0,0,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
85.029464,0.0,0.0,0.0,0.0,0.0,0,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [39]:
rows = str(len(scils_df))
cols = str(len(scils_df.columns))
print("Number of rows: "+ rows + "\nNumber of Columns: " + cols)
#Number is 307 x 36793 (rowxcol)

Number of rows: 307
Number of Columns: 36793

In [73]:
print(scils_df.iloc[:, 0:1])
#print(scils_df.iloc[0:1,:])

                Spot 1
m/z
70.946040     0.000000
78.918847     0.000000
79.957324     0.000000
82.954106     0.000000
85.029464     0.000000
...                ...
214.993686    0.000000
215.014992    0.000000
215.032574  396.191925
215.032750  372.268005
215.034088  282.877747

[307 rows x 1 columns]

In [55]:
df1=scils_df.copy()
#df_mean = df1.iloc[0:1,:].mean(axis=1)
#df_mean.head()

m/z
78.918847    0.823182
dtype: float64

In [89]:
df_mean_all = pd.DataFrame(index=np.arange(int(rows)), columns=np.arange(1))
#print(df_mean_all)

In [94]:
x = 0
y = 1
for idx in df1.index:
    df_mean_all = df1.mean(axis="columns")
    x = x + 1
    y = y + 1

In [99]:
df_mean_all.rename(columns = {"":"Mean"} ,inplace = False)
print(df_mean_all)

TypeError: Series.rename() got an unexpected keyword argument 'columns'